@import url('https://fonts.cdnfonts.com/css/academy-engraved-let');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.cdnfonts.com/css/wallpaper');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #FFE7D1;
    padding: 0 26px;
}

header {
    width: 100%;
    height: 100px;
    border: 1px solid black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 94px;
}

header > nav {
    display: flex;
    gap: 61px;
}

header > h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Academy Engraved LET', sans-serif;
    color: black;
}

.navHeader {
    font-size: 25px;
    font-family: 'Academy Engraved LET', sans-serif;
    color: black;
}

header > button {
    width: 200px;
    height: 48px;
    background-color: #ED4D1B;
    font-family: 'Academy Engraved LET', sans-serif;
    font-weight: 400;
    font-size: 20px;
    border: 2px solid black;
    box-shadow: 2px 3px 2px 1px;
}

main {
    width: 100%;
    height: 800px;
    border: 1px solid black;

    display: flex;
    align-items: flex-start;
}

main > span {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 112px;
    padding-top: 100px;
    gap: 40px;
}

span > h2 {
    width: 474px;
    font-weight: 900;
    font-size: 64px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

span > p {
    width: 368px;
    font-size: 24px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

span > button {
    width: 225px;
    height: 48px;
    background-color: #ED4D1B;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20px;
    border: 2px solid black;
    box-shadow: 2px 3px 2px 1px;
}

main > img {
    width: 60%;
}

.heroArrow {
    display: flex;
    margin-top: -40px;
    margin-left: 140px;
    width: 105px;
    height: 97px;
}

.heroTitle {
    color: #ED4D1B;
}

.heroTextContainer {
    display: flex;
}

.iconTextHero {
    margin-top: -20px;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 666px;
    border: 1px solid black;
    padding-bottom: 128px;
}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cardContent > img {
    width: 48px;
    height: 48px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 272px;
    height: 306px;
    background-color: #ED4D1B;
    border: 2px solid black;
    box-shadow: 2px 3px 2px 1px;
    padding-left: 32px;
    padding-top: 27px;
    margin-left: 33px;
    font-weight: 500;
}

.cardContent > h3 {
    font-size: 24px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cardContent > p {
    width: 207px;
    font-size: 16px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card > img {
    display: block;
    align-self: flex-end;
    padding-top: 40px;
}
 
.yellowCardContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.yellowCardContent > img {
    width: 48px;
    height: 48px;
}

.yellowCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 272px;
    height: 306px;
    background-color: #FF9A3C;
    border: 2px solid black;
    box-shadow: 2px 3px 2px 1px;
    padding-left: 32px;
    padding-top: 27px;
    margin-left: 33px;
    margin-top: 20px;
}

.yellowCardContent > h3 {
    font-size: 24px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.yellowCardContent > p {
    width: 207px;
    font-size: 16px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.yellowCard > img {
    display: block;
    align-self: flex-end;
    padding-top: 40px;
}

#cards {
    display: flex;
    flex-direction: row;
    margin-top: -110px;
    margin-right: 40px;
    align-self: center;
}

.textCenter {
    flex-direction: row;
    align-self: center;
    justify-content: center;
    width: 449px;
    height: 75px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 64px;
    margin-top: 126px;
}

.textCenter > span {
    color: #ED4D1B;
}

section > button {
    width: 225px;
    height: 48px;
    background-color: #ED4D1B;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20px;
    border: 2px solid black;
    box-shadow: 2px 3px 2px 1px;
    align-self: center;
    margin-top: 64px;
}

footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 403px;
    border: 1px solid black;
    padding-left: 0px;
    justify-content: center;
}

.textFooter {
    padding-top: 63px;
    height: 115px;
    width: 272px;
}

.textName {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 40px;
}

.textSubtitle {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 20px;
}

.descriptionFooter {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding-top: 32px;
}

.navFooter {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 24px;
    gap: 32px;
    width: 300px;
    height: 208px;
    padding-top: 63px;
    padding-left: 116px;
    color: black;
}

nav > a {
    color: black;
}


.textEmail {
    align-self: flex-start;
    justify-content: space-between;
    width: 464px;
    height: 28px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 24px;
    padding-left: 116px;
    padding-top: 63px;
}

.buttonFooter {
    display: flex;
    flex-direction: column;
    width: 560px;
    height: 48px;
    background-color: #FFFFFF;
    border: 2px solid black;
    box-shadow: 2px 3px 2px 1px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.buttonQueroReceber {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 225px;
    height: 48px;
    background-color: #ED4D1B;
    border: 2px solid black;
    box-shadow: 2px 3px 2px 1px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20px;
    align-items: center;
}
